/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/
#portfolio 
{ 
 	perspective: 200px;
}

.portfolio-item
{
  	transform-style: preserve-3d;
  	transition: 1s;
  	backface-visibility:hidden;
}

.portfolio-item:hover
{
	transform: rotateY(180deg);	
}

.front
{
	position:absolute;
}

.front:hover
{

}

.back 
{
	transform: rotateY(180deg)
}

.back:hover
{


}